<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/old"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/old_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PrivacyActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".TitersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutAuthorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3595369826555886~6376233752" />
    </application>

</manifest>